<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Eversnap</title>
        <meta name="description" content="">
        <!-- ensure proper rendering and touch zooming in mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../css/datepicker.css">
        <link rel="stylesheet" href="../css/bootstrap-timepicker.min.css">
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/stack.css">
        <link rel="stylesheet" href="../css/main.css">

    </head>
    <body>
        <div class="stack rotated-left">
            <img src="../img/image1.jpg" alt="">
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../js/vendor/modernizr-2.7.1.min.js"></script>
    <script src="../js/vendor/bootstrap/bootstrap.min.js"></script>
    </body>
</html>